body{
	font-family: 'Dosis', sans-serif;
	color: #333333;
	background-image: url(../image/bg.png);
}
/*header start*/
header{
	background-color: #FFD338;
}

.custom-img{}

.custom-nav{}

.custom-nav ul li a{
	font-family: 'Dosis', sans-serif;
	color: white !important;
	font-size: 18px;
	font-weight: 700;
	transition: .5s;
	border-radius: 20px;
	padding: 3px 20px !important;
}
.custom-nav ul li a:hover{
	background-color: #F05C5C;
	
}

.custom-dropdown{

}
.custom-drop{
	color: white;
	border: none;
	margin-right:10px;
}
.custom-drop:hover{
	color: #F05C5C;
}

.custom-drop i{
	
}

.custom-icon{
	color: white;
	border: none;
	transform: rotate(90deg);
}
.custom-icon:hover{
	color: #F05C5C;
}
/*header end*/
/*banner start*/
.banner{
	background-image: url(../image/banner.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.banner-content{
	margin-top: 206px;
	
}
.banner h1{
	color: #1ec0ff;
	font-size: 48px;
	font-weight: 700;
}
.scroll {
	cursor: pointer;
	margin-top: 370px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 300;
}

.scroll p{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 300;
}
.scroll i{}
/*banner end*/
/*kid1 start*/
.kid1{
	margin-bottom: 40px;
}
.common-title{
	margin-top: 70px;
	margin-bottom: 30px;
}
.common-title h1{
	font-size: 30px;
	font-weight: 700;
	color: #333333;
}
.common-title hr{
	border: none;
	width: 180px;
	border-bottom: 4px dashed white;
}
.schools{
	margin-bottom: 25px;
}
.schools h3{
	font-size: 24px;
	font-weight: 700;
	color: #333333;
}
.schools p{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #333333;
}
.schools hr {
    width: 144px;
    margin-left: 0;
    border: 2px solid #bdbdbd;
    border-radius: 5px;

}

.custom-img {
    height: 60px;
    width: auto;
}
.schools-img img{
	border-radius: 10px;
	box-shadow: 0 0 10px black;
}
/*kid1 end*/
/*kid2 start*/
/*kid2 end*/
.kid2{
	background-image: url(../image/about.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 70px 0;
}

.kid2-content{}
.kid2-content img{
	transition: .3s;
	position: relative;
}
.kid2-img2{
	position: absolute;
	top: 0;
	left: 88px;
}
.kid2-img{}

.kid2-img2 img:hover{
	transform: scale(1.3);
}
.kid2-content p{
	font-size: 24px;
    font-weight: 700;
}
/*kid2 end*/
/*courses start*/
.courses{
	padding: 90px 0;
}
/*courses end*/
